{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  <title>
    {% block title %}
    {% endblock title %}
  </title>
</head>

<body>
  {% comment %} <a id="plot" class="hover:text-blue-500" href="/plot">Plot Page</a>

  <button id="print" class="bg-green-500 rounded-md px-4 py-1 mt-5" onclick="printSomething()">Click</button>

  <script type="text/javascript">
    function printSomething() {
      console.log("This is inside browser not server")
      document.getElementById("plot").innerHTML = "NO PLOT PAGE"
    }
  </script> {% endcomment %}

  {% block body %}

  {% endblock body %}
</body>

</html>