{% load static %}
<nav class="sticky absolute top-0">
    <div class="flex justify-between items-center bg-green-900 ">
        <div class="mx-8 my-1">
            <a href="{% url 'home_page' %}"><img src="{% static 'images/logo-64.png' %}" alt=""></a>
        </div>
        <ul class="flex gap-8 justify-end p-4 pr-28">
            <li
                class="{% if page == 'home' %}underline text-green-100 {% else %} hover:underline hover:text-green-300{% endif %} decoration-2">
                <a href="{% url 'home_page' %}">Home</a></li>

            <li
                class="{% if page == 'data' %}underline text-green-100 {% else %} hover:underline hover:text-green-300{% endif %} decoration-2">
                <a href="{% url 'data_page' %}">Data</a></li>

            <li
                class="{% if page == 'plot' %}underline text-green-100 {% else %} hover:underline hover:text-green-300{% endif %} decoration-2">
                <a href="{% url 'plot_page' %}">Plot</a></li>
        </ul>
    </div>
</nav>